[Unit]
Description=restart when killed
Wants=network-online.target
After=network.target dbus.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/httpts
Restart=always

StartLimitInterval=60s
StartLimitBurst=5

StandardOutput=null

[Install]
WantedBy=multi-user.target
