Source: httpts
Section: misc
Priority: optional
Maintainer: momo <wanghanmo@kylinos.cn>
Build-Depends: debhelper (>=9),
               golang,
			   golang-golang-x-net-dev,
			   golang-dbus-dev (>=4)
Standards-Version: 3.9.6
Homepage: https://launchpad.dev/httpts

Package: httpts
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the system time sync server base on HTTP
